
@font-face { 
    font-family: Pacifico; src: url('../fonts/Pacifico-Regular.ttf'); 
} 

@font-face {
    font-family: Precious; src: url('../fonts/Precious.ttf'); 
}

html, body {
    height: 100%;
    margin: 0px;
    padding: 0px;
    scroll-behavior: smooth;
}

.main-container {
    font-family: Pacifico; 
    border: 3px solid black;
    overflow:auto;
    padding-top: 40px;
}

#title-container{
    display: flex;
    padding-top: 20px;
    justify-content: center;
    align-items: center;
    text-align : center;
}

#main-title{
    font-size: 5vw;
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.button-container button{
    width: 50%;
    min-height:3em;
    margin-bottom: 10px;
    font-size: 1.3em;
    background-color: #eaa8ae;
    border-color: black;;
}

.button-container button:hover{
    background-color: #e9a0a6;
    border-color: black;;
}


#profile-container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

#profile-image{
    display: flex;
    width: 30vw;
    height: 30vw;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid black;
    background-position: center center;
    background-size: cover;
    margin-top: 10px;
}

#profile-bio{
    display: flex;
    flex-grow: 4;
}

#line-breaker{
    display: block;
}

hr{
    border: 0;
    clear:both;
    display:block;
    width: 96%;
    background-color:#FFFF00;
    height: 1px;
}

#about-container{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;

    align-items: center;
    padding-top: 20px;
    max-width: 500px;
}

#about-me-title{
    font-family: Pacifico !important; 
    margin: 0px;
    padding: 0px;
    font-size: 3em;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    align-self: center;
    text-decoration: underline;
}

#about-container #paragraph{
    padding: 5px;
    font-size: 1.2rem;
}

#about-container .curly{
    font-family: Precious;
    margin-right: 2px;
    /* background-color: red; */
}

#about-container .light-text{
    display: flex;
    align-items: flex-start;
    justify-content: left;
    text-align: left;
    margin: 0px;
    padding: 0px;
    font-weight:200;
    font-size: 0.4em;
}

#contact-container{
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    text-align : center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
}

.contact-wrapper{
    max-width: 500px;
}

#contact-container .light-text{
    font-weight: 100;
    font-size: 1em;
    margin: 0px;
    padding: 0px;
    opacity: 0.5;

}

.section-wrapper{
    width: 100%;
    border-bottom: 1px solid black;
    background-repeat:repeat;
    padding-bottom: 2em;
}

.author-tag{
    margin-top: 10px;
    float: right;
}

.page-wrapper{
    margin-top: 5px;
}

/* Nav bar */
.main-nav-bar{
    border-bottom: 1px solid black;
}

.footer{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    font-size: 1em;
    text-align: center;
    padding: 20px 0px 20px 0px;
    background-color: white;
    display: flex;
    justify-content: center;
    justify-items: center;
    flex-direction: column;
    height: 100%;
}


.vertical-center {
    min-height: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
}

blockquote {
    background: #eaa8ae;
    border-left: 3px solid rgb(0, 0, 0);
    margin: 1.5em 10px;
    padding: 0.5em 10px;
    quotes: "\201C""\201D""\2018""\2019";
    border-radius: 5px;
  }

  blockquote:before {
    color: rgb(0, 0, 0);
    content: open-quote;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
  }

  blockquote p {
    display: inline;
  }

.review-item{
    /* background-color: blue; */
    font-family: Arial, Helvetica, sans-serif;
    display: flex; 
    justify-items: center;
    justify-self: center;
    justify-content: center;
    text-align: center;
    align-self: center;
    background-color: transparent;
    margin: 10px;
    z-index: 1;
    height: fit-content;
    /* border: 3px solid black; */
}

.card-text {
    text-align: left !important;
}

.review-item img{
    display: flex;
    border-radius: 10px;
    align-self: center;
    padding: 10px;
}

.review-text{
    word-wrap: break-word;
    text-align: left;
}

.review-container{
    background-color: lightgray !important;
    border: 3px solid black !important;
    border-radius: 10px !important;;
    display: flex ;
    max-width: 500px;
    /* flex-direction: row !important; */
}

.review-button-wrapper{
    display: flex;
    flex-direction: column !important;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    justify-content: center;
}

.review-buttons{
    display: flex;
    font-size: 1rem;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.review-buttons button{
    margin: 0px 10px 0px 10px;
    border: 1px solid black;
    border-radius: 10px;
    width: 10rem;
    height: 3rem;
    touch-action: manipulation;
    background-color: lightgray
}


/* Style the navbar */
#navbar {
    overflow: hidden;
    background-color: #eaa8ae;
    border-bottom: 2px solid black !important;
    z-index: 100;
}

/* Navbar links */

#navbar a:hover{
    color: rgb(135, 119, 119);
    background-color: #e1989e;
}

.review-text-whole{
    display: none;
}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.anchor{
    padding-top: 50px;
    margin-top: -50px;
}

#menu-navbar-button{
    display: none;
    font-size: 1.5rem;
    cursor: grab;
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#navbar-elements {
    display: flex;
    flex-direction: row;
}

#navbar-elements a{
    color: #000000;
    text-align: center;
    padding: 14px;
    text-decoration: none;
    border-left: 1px solid black;
}

.current-wrapper{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    padding-top: 20px;
    max-width: 500px;
    border: 3px solid black;
    background-image: none;
    border-radius: 10px;;
    background-color: lightgray;
    padding: 10px;
}


#more-current{
    display: none;
}

.show-more-button{
    width: 100%;
    border: 2px solid black;
    background-color: lightgray;
    margin-bottom: 20px;
    border-radius: 10px;
    height: 3rem;
}

.show-more-button:hover{
    background-color: #e1989e;
}

#preview-current{
    display: block;
}
.current-text-tag{
    margin-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    max-width: 500px;

}

#current-image{
    width: 30vw;
    max-width: 500px;
}


.align-left{
    text-align: left;
    padding: 10px;
}
@media only screen and (max-width: 600px) {
    #main-title {
      font-size: 3em !important;
    }

    .button-container button{
        width: 85% !important;
    }

    #menu-navbar-button{
        display: block !important;
    }

    #navbar-elements{
        flex-direction: column !important;
    }

    /* Prevent mobile hover bug */
    .button-container button:hover{
        background-color: #f7c4c8 !important;
    }

    .button-container button:active{
        background-color: #f7c4c8 !important;
    }

    .button-container button:focus{
        background-color: #f7c4c8 !important;
    }

    #profile-image{
        width: 60vw !important;
        height: 60vw !important;

    }

    #line-breaker{
        display: none;
    }

    .main-container{
        margin: 0px !important;
        border:none !important;
    }

    #about-container{
        padding: 10px;
    }

    .review-item img{
        /* width: 100% !important; */
        margin: 10px !important;
        /* margin-top: 10px !important; */
        border-radius: 0px !important;
        border: none !important;
    }

    .review-container{
        display: flex !important;
        flex-direction: column !important;
    }

    .current-wrapper{
        margin: 10px;
    }
}